.main {
    margin: auto;
    width: 640px;
} 

.video-pool {
    position:absolute;
    z-index: -1;
}

#spinner-lv-panel {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #FFFFFF;
    z-index: 1;
}

.video-cover {
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #FFFFFF;
    /* visibility: hidden; */
  }

.cur-display{
    z-index: 1;
}

.guide
, .video-panel
, .instruction-btn {
    text-align: center;
    position: relative;
    vertical-align:middle;
}

.info-for-worker {
    display: none;
    position: relative;
    margin-top:15%;
}

.nextgp
, .submit
, .tocsv {
    display: none;
}

.question {
    font-size: 24px;
}

#warning-cover {
    display: none;
    text-align: center;
    vertical-align: middle;
    width: 640px;
    height: 480px;
    color: black;
    font-size: 28px;
}

#exp-panel,
#cf-panel,
#instruction-modal {
    display: none;
}

input#cf-submit-btn{
    padding:5px 15px; 
    background:rgb(0, 156, 34); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
}

#instruction-modal {
    display: none;
}