.main {
    margin: auto;
    width: 640px;
} 

.video-cover {
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #FFFFFF;
  }

#guide-panel
, #instruction-btn {
    text-align: center;
    position: relative;
    vertical-align:middle;
}

.submit
, .tocsv {
    display: none;
}

#question {
    font-size: 24px;
}

#exp-panel,
#cf-panel,
#instruction-modal {
    display: none;
}

input#cf-submit-btn{
    padding:5px 15px; 
    background:rgb(0, 156, 34); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
}

#instruction-modal {
    display: none;
}

#video-spinner {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

#task-progressbar {
    color: #000000;
    visibility: visible;
}

#video-pool {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#exp-end-panel,
#message-panel {
    display: none;
}