.main {
    margin: auto;
    width: 640px;
} 

#video {
    width: 640px;
    height: 480px;
    z-index: 1;
}

.guide
, .video-panel
, .instruction-btn {
    text-align: center;
    position: relative;
    vertical-align:middle;
}

.info-for-worker {
    display: none;
    position: relative;
    margin-top:15%;
}

.nextgp
, .submit
, .tocsv {
    display: none;
}

.question {
    font-size: 24px;
}

#warning-cover {
    display: none;
    text-align: center;
    vertical-align: middle;
    width: 640px;
    height: 480px;
    color: black;
    font-size: 28px;
}

.not-sure-btn {
    visibility: hidden;
}