.main {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center; 
} 

#msg-panel{
    display: flex;
    justify-content: center; 
    align-items: center;
}

#video-pool {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.video-cover {
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.video-cover > video {
    display: inline-block;
    margin:5px;
}

#guide-panel
, #instruction-btn {
    text-align: center;
    position: relative;
    vertical-align:middle;
}

.submit
, .tocsv {
    display: none;
}

#question {
    font-size: 24px;
}

#cali-info
#msg-panel,
#inst-panel,
#cali-panel,
#dist-panel,
#hit-panel,
#cf-panel,
#instruction-modal,
#cali-inst-modal,
#reminder-modal,
#hit-end-panel,
#decision-timeout-msg,
#next-hit-btn,
#hit-end-btn,
#main-study-btn,
#show-instruction-btn,
#start-training-btn,
#warning-cover {
    display: none;
}

input#cf-submit-btn{
    padding:5px 15px; 
    background:rgb(0, 156, 34); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
}

#cancel-cf-btn {
  padding:5px 15px; 
  background:rgb(211, 84, 0); 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: white;
}

#start-exp-btn {
  color: black;
}

#task-progressbar {
    color: #000000;
    visibility: visible;
}

#cali-fit-btn {
    visibility: hidden;
}

#cali-frame {
    position: relative;
    margin-left: 25%;
    border-radius: 15px;
    width:562px;
    height:354px;
    max-width: 1124px;
    max-height: 708px;
    border-style: solid;
    border-color: red;
}

#warning-cover{
    text-align: center;
    font-size: 32px;
    visibility: hidden;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(213, 213, 213, 0.9);
    z-index: 9999;
}

#survey-cover {
    text-align: center;
    visibility: hidden;
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 9999;
    background: rgb(255, 255, 255);
    justify-content: center; 
    align-items: center;
}

#warning-msg {
    text-align: center;
    width:80%;
    position: relative;
    margin: auto;
}

#read-inst-div {
    display: flex;
    justify-content: flex-end;  
}

#hint-frame {
  width: 90%;
  position: absolute;
  left: 5%;
  justify-content: center; 
  align-items: center;
  display: none;
  text-align: center;
}

#hint {
  color: red;
  font-size: 24px;
}

#try-again-btn {
  position: absolute;
  left: 47.5%;
  justify-content: center; 
  align-items: center;
}